body{
    background-color: #ffffff;
    margin: 0;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1{
    font-size: 4.7rem;
    color: #66BFBF;
    margin-top: 50px;
    line-height: 2;
    
    font-family: 'Sacramento',cursive;

}
h2{
    font-size: 2.5rem;
    font-weight: normal;
    color: #66BFBF;
}
h3{
    color: #11999E;
}
h4{
    font-weight: normal;
    text-align: center;
}
.middle-container{
   
   padding: 100px 0;
    
}

.bottom-container {
    background-color: #66BFBF;
    padding: 50px 0 30px;
    
}

.top-container{
    background-color: #e4f9f5;
    position: relative;
    padding-top: 100px;
}
.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}
.top-cloud{
    position: absolute;
    right:  200px;
    top: 50px;
}
.skill-row{
    width: 50%;
    margin: auto;
}
.main-skill{
    width: 170px;
}
.side-skill{
    width: 170px;
}
.intro{
    width: 30%;
    margin: auto;
}
p{
    line-height: 2;
}
hr{
    border: dotted #959898 6px;
    border-bottom: none;
    width: 5%;
    margin: 100px auto;
}
.contact-message{
    width: 40%;
    margin: 40px auto 60px;
}
.btn {
    background: #3cfcef;
    background-image: -webkit-linear-gradient(top, #3cfcef, #3497d9);
    background-image: -moz-linear-gradient(top, #3cfcef, #3497d9);
    background-image: -ms-linear-gradient(top, #3cfcef, #3497d9);
    background-image: -o-linear-gradient(top, #3cfcef, #3497d9);
    background-image: linear-gradient(to bottom, #3cfcef, #3497d9);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }  
  .btn:hover {
    opacity:0.2;
    text-decoration: none;
  }
  a{
    color: #e0f8f9;
    margin: 10px 20px;
    font-size: 1.5rem;
  }
.copyright{
    color: #e4f9f5;
    font-size: 0.75rem;
    padding: 20px 0;
}
